*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #f5f5f5; */
    background: rgb(154,154,154);
    background: linear-gradient(0deg, rgba(154,154,154,1) 0%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-wrap: wrap;

}

header{
    background-image: url(../img/pexels-chalo-garcia-13954213.jpg);
    background-size: 100%;
    background-position: 30% 40%;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

header h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 5px;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00000030;
    height: 10vh;
}

li > a{
    color: white;
    text-decoration: none;
}

a[href="#"]{
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}

main{
    padding: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

section{
    width: 45vw;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section > h2{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
}

figure > img{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.359);
}

section > p {
    text-align: justify;
    margin-top: 1rem;
    padding: 1rem;
}

footer{
    width: 100%;
    height: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    list-style: none;
}

.contact > li {
    margin-bottom: 8px;
}

.contact > li > a:hover{
    text-decoration: underline;

}

.contact > li > a {
    text-decoration: none;
    color: black;
    margin-top: 1rem;
}



@media screen and (max-width: 767px){
    
    header{
        height: 200px;
        
    }

    header > h1 {
        font-size: 1rem;
    }

    main{
        width: 100%;
        padding: 8px;
        margin: 8px;
    }

    section{
        width: 100%;
        margin: auto;
    }

    section > p {
        width: 90%;
        margin: auto;
    }

    figure > img{
        width: 90%;
        height: 90%;
        margin: auto;
    }

    iframe{
        width: 300px;
        height: 300px;
    }

}

@media screen and (max-width: 1024px) and (min-width: 768px){
    
    header{
        height: 200px;
        
    }

    header > h1 {
        font-size: 1.3rem;
    }

    main{
        width: 100%;
        padding: 8px;
        margin: 8px;
    }

    section{
        width: 45%;
        margin: auto;
    }

    section > p {
        width: 90%;
        margin: auto;
    }

    figure > img{
        width: 350px;
        height: 200px;
        object-fit: cover;
        margin: auto;
    }

    iframe{
        width: 400px;
        height: 400px;
    }

}
    
